{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-11">
			<h1>{{ recipe.name }}</h1>
		</div>
	</div>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul class="row">
                    {% for message in messages %}
                    <li class="col-md-1"></li>
                        <li class="col-md-10"> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="recipe-item">
        <div class="row">
            <div class="col-md-4">
                <img width="100%" class="recipe-img" alt="{{recipe.name}}" src="{{recipe.image}}">
            </div>
            <div class="col-md-5">
                <h2>Ingredients</h2>
                <p>
                {% for ing in ingredients_list %}
                    {{ing}} <br />
                {% endfor %}
                </p>
            </div>
            <div class="col-md-3 creator-area">
                <figure class="creator">
                    <img width="100%" src="{{ creator.picture}}">
                    <figcaption>{{ creator.name }}</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Preparation</h2>
                <p>{{recipe.preparation}}</p>
            </div>
        </div>
    </div>
{% endblock %}